@model MainPageModel
<!DOCTYPE html>
<head>
    <title>Trend</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<link rel="stylesheet" href="trend.css">
<link rel="stylesheet" href="https://unpkg.com/charts.css/dist/charts.min.css">
<script src="ivyAuth.js"></script>
<body>
<div id="headerregion">
    <div id="mainheader">Trend</div>
    <div id="subheader">Friendly weight tracking</div>
</div>
<div id="bodyregion">
    @if (Model == null || Model.Identity == null)
    {
        <div id="welcome">Welcome, please log in to start.</div>
        <div class="fullwidthbutton" onclick="onLogin()">Log in</div>
    }
    else if (Model.WeightRecordToday.Weight == 0)
    {
         <div id="welcome">Welcome, @Model.Identity.Name @Model.Identity.Id</div>
         <div>Enter weight record for @Model.WeightRecordToday.Date.ToShortDateString()</div>
         <input onChange="onChange(this.value)">
         <div class="fullwidthbutton" onclick="onSubmit()">Submit</div>
    }
    else
    {
        <div>Thank you, you have recorded your weight for @Model.WeightRecordToday.Date.ToShortDateString()</div>
    }
    @if (Model != null && Model.GraphPoints != null)
    {
        <div id="mainchart">
            <table class="charts-css line">
                @{double? prevPoint = null;}
                @foreach (var point in Model.GraphPoints)
                {
                    if (prevPoint != null)
                    {
                        <tr><td style="--start:@prevPoint; --end:@point"></td></tr>
                    }
                    prevPoint = point;
                }
            </table>
        </div>
    }
</div>
 </body>
 <script>
    var weight = Number.NaN;

    onChange = (value) => {
        weight = parseInt(parseFloat(value) * 10);
        if (isNaN(weight)) {
            console.log("error");
        } else {
            console.log(weight);
        }
    }

    onSubmit = async () => {

        if (isNaN(weight)) {
            return;
        }

        response = await fetch("recordCurrentWeight", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({weight})
        });

        if (response.ok) {
            location.reload();
        }
    }
 </script>
